<form role="form">
    <div class="col-lg-6 col-sm-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Order Description and Instructions</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="form-group">
                    <label for="title">Description {{order.Title}}</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="order.Description">
                </div>
                <div class="form-group">
                    <label for="description">Notes</label>
                    <textarea class="form-control" id="description" placeholder="Notes" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Variable Data</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="firstName">Full Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Address Line 1</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Address Line 1">
                        </div>
                        <div class="form-group">
                            <label for="companyName">Address Line 2</label>
                            <input type="text" class="form-control" id="companyName" placeholder="Address Line 2">
                        </div>
                        <div class="form-group">
                            <label for="companyName">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <label for="companyName">State</label>
                            <input type="text" class="form-control" id="state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <label for="companyName">Zip Code</label>
                            <input type="text" class="form-control" id="companyName" placeholder="Zip Code">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="" type="submit" class="btn btn-primary pull-right">Update Preview</a>
        <a href="#/library" type="submit" class="btn btn-default">Cancel</a>
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Preview</h2>
            </header>
            <div class="main-box-body">
                <div class="img square" style="background: url('/images/samples/letterhead.jpg') no-repeat center;
                        background-size: contain; width: auto;">

                </div>

            </div>
        </div>

        <a href="#/cart" type="submit" class="btn btn-primary pull-right">Approve proof and place order.</a>

    </div>
</form>