<div class="row" id="user-profile">
    <div class="col-sm-12">
        <div class="main-box clearfix">
            <div class="tabs-wrapper profile-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a showtab="" data-target="#tab-detail" data-toggle="tab">Detail</a></li>
                    <li><a showtab="" data-target="#tab-activity" data-toggle="tab">Activity</a></li>
                    <li><a showtab="" data-target="#tab-preview" data-toggle="tab">Preview</a></li>
                    <li><a showtab="" data-target="#tab-messages" data-toggle="tab">Messages</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-detail">

                    </div>

                    <div class="tab-pane fade in active" id="tab-activity">

                    </div>

                    <div class="tab-pane fade" id="tab-preview">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-comment"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson posted a comment in <a href="">Avengers Initiative</a> project.
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-truck"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>
                                            to <span class="label label-success">Completed</span>
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson posted a comment in <a href="">Lost in Translation opening scene</a> discussion.
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-users"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson posted a comment in <a href="">Avengers Initiative</a> project.
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-heart"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson changed order status from <span class="label label-warning">On Hold</span>
                                            to <span class="label label-danger">Disabled</span>
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson posted a comment in <a href="">Lost in Translation opening scene</a> discussion.
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-truck"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>
                                            to <span class="label label-success">Completed</span>
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-users"></i>
                                        </td>
                                        <td>
                                            Scarlett Johansson posted a comment in <a href="">Avengers Initiative</a> project.
                                        </td>
                                        <td>
                                            2014/08/08 12:08
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="tab-messages">
                        <div class="conversation-wrapper">
                            <div class="conversation-content">
                                <div class="conversation-inner">

                                    <div class="conversation-item item-left clearfix">
                                        <div class="conversation-user">
                                            <img src="/Themes/cube2/img/samples/ryan.png" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                Ryan Gossling
                                            </div>
                                            <div class="time hidden-xs">
                                                September 21, 2013 18:28
                                            </div>
                                            <div class="text">
                                                I don't think they tried to market it to the billionaire, spelunking,
                                                base-jumping crowd.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-item item-right clearfix">
                                        <div class="conversation-user">
                                            <img src="/Themes/cube2/img/samples/kunis.png" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                Mila Kunis
                                            </div>
                                            <div class="time hidden-xs">
                                                September 21, 2013 12:45
                                            </div>
                                            <div class="text">
                                                Normally, both your asses would be dead as fucking fried chicken, but you
                                                happen to pull this shit while I'm in a transitional period so I don't wanna
                                                kill you, I wanna help you.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-item item-right clearfix">
                                        <div class="conversation-user">
                                            <img src="/Themes/cube2/img/samples/kunis.png" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                Mila Kunis
                                            </div>
                                            <div class="time hidden-xs">
                                                September 21, 2013 12:45
                                            </div>
                                            <div class="text">
                                                Normally, both your asses would be dead as fucking fried chicken, but you
                                                happen to pull this shit while I'm in a transitional period so I don't wanna
                                                kill you, I wanna help you.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-item item-left clearfix">
                                        <div class="conversation-user">
                                            <img src="/Themes/cube2/img/samples/ryan.png" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                Ryan Gossling
                                            </div>
                                            <div class="time hidden-xs">
                                                September 21, 2013 18:28
                                            </div>
                                            <div class="text">
                                                I don't think they tried to market it to the billionaire, spelunking,
                                                base-jumping crowd.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conversation-item item-right clearfix">
                                        <div class="conversation-user">
                                            <img src="/Themes/cube2/img/samples/kunis.png" alt="" />
                                        </div>
                                        <div class="conversation-body">
                                            <div class="name">
                                                Mila Kunis
                                            </div>
                                            <div class="time hidden-xs">
                                                September 21, 2013 12:45
                                            </div>
                                            <div class="text">
                                                Normally, both your asses would be dead as fucking fried chicken, but you
                                                happen to pull this shit while I'm in a transitional period so I don't wanna
                                                kill you, I wanna help you.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="conversation-new-message">
                                <form>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
                                    </div>

                                    <div class="clearfix">
                                        <button type="submit" class="btn btn-success pull-right">Send message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
