<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="main-box clearfix project-box gray-box">
            <div class="main-box-body clearfix">
                <div class="project-box-header gray-bg">
                    <div class="name">
                        <a href="">
                            Document Library
                        </a>
                    </div>
                </div>

                <div class="project-box-content" style="padding-bottom: 30px;">
                    <a href="#/library">
                        <img src="/Themes/cube2/img/samples/Marketing_overview_0.jpg" />
                    </a>
                </div>

                <div class="project-box-footer clearfix">

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="main-box clearfix project-box purple-box">
            <div class="main-box-body clearfix">
                <div class="project-box-header purple-bg">
                    <div class="name">
                        <a href="">
                            Custom Order
                        </a>
                    </div>
                </div>

                <div class="project-box-content" style="padding-bottom: 30px;">
                    <a href="#/create">
                        <img src="/Themes/cube2/img/samples/2016-06-22-(1).png" />
                    </a>
                </div>

                <div class="project-box-footer clearfix">

                </div>

            </div>
        </div>
    </div>

</div>