<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT adminMaster ANY>
<!ATTLIST adminMaster id ID #REQUIRED>
<!ELEMENT angularApp ANY>
<!ATTLIST angularApp id ID #REQUIRED>
<!ELEMENT clients ANY>
<!ATTLIST clients id ID #REQUIRED>
<!ELEMENT clientList ANY>
<!ATTLIST clientList id ID #REQUIRED>
<!ELEMENT genericPage ANY>
<!ATTLIST genericPage id ID #REQUIRED>
<!ELEMENT menuSection ANY>
<!ATTLIST menuSection id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productCategory ANY>
<!ATTLIST productCategory id ID #REQUIRED>
<!ELEMENT publicMaster ANY>
<!ATTLIST publicMaster id ID #REQUIRED>
<!ELEMENT publicPage ANY>
<!ATTLIST publicPage id ID #REQUIRED>
<!ELEMENT redirectPage ANY>
<!ATTLIST redirectPage id ID #REQUIRED>
<!ELEMENT rootSection ANY>
<!ATTLIST rootSection id ID #REQUIRED>
<!ELEMENT siteSettings ANY>
<!ATTLIST siteSettings id ID #REQUIRED>

]>
<root id="-1">
  <genericPage id="1064" key="5694f61f-72b1-4b69-9c3c-1a5dc16f5f15" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-02T22:26:21" updateDate="2016-08-01T22:17:33" nodeName="Dashboard" urlName="dashboard" path="-1,1064" isDoc="" nodeType="1060" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1147" nodeTypeAlias="genericPage">
    <pageIcon><![CDATA[icon-custom-dashboard2]]></pageIcon>
    <menuSection id="1104" key="8de7af07-db54-4656-97c9-c4bbb54a7c06" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2016-06-14T00:36:25" updateDate="2016-06-14T00:36:51" nodeName="Components" urlName="components" path="-1,1064,1104" isDoc="" nodeType="1100" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSection" />
    <genericPage id="1098" key="f1cc851f-2703-4106-94a1-4c78178e1c5f" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2016-06-14T00:23:28" updateDate="2016-06-27T02:23:08" nodeName="Orders" urlName="orders" path="-1,1064,1098" isDoc="" nodeType="1060" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1130" nodeTypeAlias="genericPage">
      <pageIcon><![CDATA[icon-custom-truck]]></pageIcon>
    </genericPage>
    <genericPage id="1099" key="6beb6ac1-f83a-4c24-b33d-2e2b585beb93" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2016-06-14T00:24:12" updateDate="2016-06-14T01:27:45" nodeName="Jobs" urlName="jobs" path="-1,1064,1099" isDoc="" nodeType="1060" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1095" nodeTypeAlias="genericPage">
      <pageIcon><![CDATA[icon-custom-cube]]></pageIcon>
    </genericPage>
    <menuSection id="1101" key="845be894-ee47-41ac-8669-eec7829e416a" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2016-06-14T00:34:01" updateDate="2016-06-14T01:27:45" nodeName="System" urlName="system" path="-1,1064,1101" isDoc="" nodeType="1100" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSection" />
    <angularApp id="1102" key="b2dff534-7f90-4789-8fcd-435d9ac2553e" parentID="1064" level="2" creatorID="0" sortOrder="6" createDate="2016-06-14T00:35:26" updateDate="2016-06-17T23:12:47" nodeName="Clients" urlName="clients" path="-1,1064,1102" isDoc="" nodeType="1121" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1119" nodeTypeAlias="angularApp">
      <pageIcon><![CDATA[icon-custom-user6]]></pageIcon>
    </angularApp>
  </genericPage>
  <publicPage id="1065" key="5e198186-0503-4f0d-8df4-7c18fd54df27" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-06-02T22:26:33" updateDate="2016-06-02T22:26:33" nodeName="Login" urlName="login" path="-1,1065" isDoc="" nodeType="1056" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1062" nodeTypeAlias="publicPage" />
  <redirectPage id="1067" key="6ea2081b-852a-4ea2-bb79-86e317ac5284" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-06-02T22:31:37" updateDate="2016-06-02T23:14:36" nodeName="Error" urlName="error" path="-1,1067" isDoc="" nodeType="1069" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1068" nodeTypeAlias="redirectPage">
    <umbracoInternalRedirectId>1071</umbracoInternalRedirectId>
    <publicPage id="1071" key="5df3768e-7d98-4597-a6f0-76286a224cad" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2016-06-02T22:55:32" updateDate="2016-06-02T23:00:19" nodeName="Not Authorized" urlName="not-authorized" path="-1,1067,1071" isDoc="" nodeType="1056" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1055" nodeTypeAlias="publicPage">
      <publicDocumentBody><![CDATA[<p>You are not authorized to view this page.</p>]]></publicDocumentBody>
    </publicPage>
  </redirectPage>
  <siteSettings id="1080" key="9b4c81bb-993c-408f-9394-a6f480586de7" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2016-06-12T23:43:30" updateDate="2016-06-12T23:43:30" nodeName="JobManager Settings" urlName="jobmanager-settings" path="-1,1080" isDoc="" nodeType="1047" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="siteSettings" />
  <clientList id="1091" key="9cd9617b-cca5-48d5-b698-1b568eae99ff" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2016-06-13T00:04:53" updateDate="2016-06-13T00:04:53" nodeName="BUCKAZ Clients" urlName="buckaz-clients" path="-1,1091" isDoc="" nodeType="1090" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1089" nodeTypeAlias="clientList">
    <clients id="1117" key="59f51021-1564-4075-9d9c-cc296e98b11f" parentID="1091" level="2" creatorID="0" sortOrder="0" createDate="2016-06-15T00:58:07" updateDate="2016-07-12T15:23:19" nodeName="ACME Company" urlName="acme-company" path="-1,1091,1117" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1010/download.png",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220,
      "coordinates": {
        "x1": 0.26662143826322937,
        "y1": 0.0783582089552239,
        "x2": 0.28561736770691981,
        "y2": 0.13805970149253713
      }
    },
    {
      "alias": "logo-wide",
      "width": 220,
      "height": 110,
      "coordinates": {
        "x1": 6.459479416000907E-16,
        "y1": 0.051455965909090871,
        "x2": 0,
        "y2": 0.073544034090909774
      }
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[ACME]]></clientCode>
      <isSampleClient>1</isSampleClient>
      <nextJobNumber><![CDATA[4]]></nextJobNumber>
      <contactEmailAddress><![CDATA[wcoyote@acme.com]]></contactEmailAddress>
      <contactPhoneNumber><![CDATA[480-555-1212]]></contactPhoneNumber>
      <contactName><![CDATA[Wylie Coyote]]></contactName>
      <productCategory id="1135" key="6b6502a2-e9b4-4af3-87ca-a873590e7d7d" parentID="1117" level="3" creatorID="0" sortOrder="0" createDate="2016-07-23T21:23:11" updateDate="2016-07-23T21:23:11" nodeName="Postcards" urlName="postcards" path="-1,1091,1117,1135" isDoc="" nodeType="1134" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="productCategory">
        <categoryDescription><![CDATA[Standard Postcards]]></categoryDescription>
        <product id="1145" key="1321dedf-8517-4b5f-a5bd-99987b9a15f6" parentID="1135" level="4" creatorID="0" sortOrder="0" createDate="2016-07-23T22:25:46" updateDate="2016-07-24T01:06:00" nodeName="9 x 6 Postcard" urlName="9-x-6-postcard" path="-1,1091,1117,1135,1145" isDoc="" nodeType="1140" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1139" nodeTypeAlias="product">
          <priceQuantityList><![CDATA[[
  {
    "name": "First Item",
    "id": "first"
  },
  {
    "name": "Second Item",
    "id": "second"
  }
]]]></priceQuantityList>
          <productDescription><![CDATA[Standard 9"x6" postcard in landscape mode.]]></productDescription>
        </product>
      </productCategory>
      <productCategory id="1136" key="28ac94c0-32a9-4993-9856-acf7a04a8e43" parentID="1117" level="3" creatorID="0" sortOrder="1" createDate="2016-07-23T21:33:14" updateDate="2016-07-23T21:33:14" nodeName="Business Cards" urlName="business-cards" path="-1,1091,1117,1136" isDoc="" nodeType="1134" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="productCategory" />
    </clients>
    <clients id="1122" key="a3aabc7e-1595-41ce-afad-fbaf02e9c198" parentID="1091" level="2" creatorID="0" sortOrder="1" createDate="2016-06-16T00:30:22" updateDate="2016-10-14T16:27:47" nodeName="Stark Industries" urlName="stark-industries" path="-1,1091,1122" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1007/large.jpg",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220,
      "coordinates": {
        "x1": 0,
        "y1": 0,
        "x2": 0,
        "y2": 0
      }
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[STARK]]></clientCode>
      <isSampleClient>0</isSampleClient>
      <nextJobNumber><![CDATA[25]]></nextJobNumber>
      <contactEmailAddress><![CDATA[ppotts@starindustries.com]]></contactEmailAddress>
      <contactPhoneNumber><![CDATA[480-123-9999]]></contactPhoneNumber>
      <contactName><![CDATA[Pepper Potts]]></contactName>
    </clients>
    <clients id="1123" key="804f2ec7-8240-4364-ad56-cfe2c00f5a45" parentID="1091" level="2" creatorID="0" sortOrder="2" createDate="2016-06-16T00:33:56" updateDate="2016-06-17T22:41:11" nodeName="Spacely Sprockets Sprocket Company" urlName="spacely-sprockets-sprocket-company" path="-1,1091,1123" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1008/spacelysprockets_712.jpg",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[SPROC]]></clientCode>
      <isSampleClient>0</isSampleClient>
      <contactEmailAddress><![CDATA[george@spacelysprocs.com]]></contactEmailAddress>
      <contactPhoneNumber><![CDATA[480-987-6543]]></contactPhoneNumber>
      <contactName><![CDATA[George Jettson]]></contactName>
    </clients>
    <clients id="1124" key="77976f76-91a9-4281-a6de-a2096abe7027" parentID="1091" level="2" creatorID="0" sortOrder="3" createDate="2016-06-16T00:34:28" updateDate="2016-10-11T15:26:48" nodeName="Global Dynamics" urlName="global-dynamics" path="-1,1091,1124" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1009/global-dynamics-logo.jpg",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220,
      "coordinates": {
        "x1": 0.10825534292498909,
        "y1": 0.13744718186897556,
        "x2": 0.12348093309121738,
        "y2": 0.094289094147230912
      }
    },
    {
      "alias": "logo-wide",
      "width": 220,
      "height": 110
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[GLODYN]]></clientCode>
      <isSampleClient>0</isSampleClient>
      <nextJobNumber><![CDATA[4]]></nextJobNumber>
      <components><![CDATA[Projects]]></components>
      <contactEmailAddress><![CDATA[dfargo@gd.gov]]></contactEmailAddress>
      <contactPhoneNumber><![CDATA[480-000-0001]]></contactPhoneNumber>
      <contactName><![CDATA[Douglas Fargo]]></contactName>
    </clients>
    <clients id="1146" key="6b38ed7d-1eca-43cd-84af-aa14e6c4860b" parentID="1091" level="2" creatorID="0" sortOrder="4" createDate="2016-07-24T17:33:46" updateDate="2016-10-13T01:22:37" nodeName="Realty Executives" urlName="realty-executives" path="-1,1091,1146" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1014/re-logo_square_2016.jpg",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220
    },
    {
      "alias": "logo-wide",
      "width": 220,
      "height": 110
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[REALEX]]></clientCode>
      <isSampleClient>0</isSampleClient>
      <nextJobNumber><![CDATA[3]]></nextJobNumber>
      <components><![CDATA[Custom Orders,Inventory,Checkout,Forum]]></components>
    </clients>
    <clients id="1149" key="bf56bb09-5dae-4fd8-a3d6-a01f883160af" parentID="1091" level="2" creatorID="0" sortOrder="5" createDate="2016-08-28T19:07:23" updateDate="2016-08-30T23:25:06" nodeName="At Home Homebuilders" urlName="at-home-homebuilders" path="-1,1091,1149" isDoc="" nodeType="1085" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="clients">
      <clientLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1013/athome-logo.png",
  "crops": [
    {
      "alias": "square",
      "width": 220,
      "height": 220
    },
    {
      "alias": "logo-wide",
      "width": 220,
      "height": 110,
      "coordinates": {
        "x1": 0.07329401853411921,
        "y1": 0.29907329401853427,
        "x2": 0,
        "y2": 0.23757371524852536
      }
    }
  ]
}]]></clientLogo>
      <clientCode><![CDATA[ATHOME]]></clientCode>
      <portalType><![CDATA[Projects]]></portalType>
      <isSampleClient>0</isSampleClient>
      <nextJobNumber><![CDATA[3]]></nextJobNumber>
      <components><![CDATA[Projects]]></components>
    </clients>
  </clientList>
  <rootSection id="1094" key="f25db759-a0c4-48ed-9f9d-32652976326c" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2016-06-13T23:14:37" updateDate="2016-06-13T23:29:34" nodeName="Users" urlName="users" path="-1,1094" isDoc="" nodeType="1093" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1092" nodeTypeAlias="rootSection">
    <genericPage id="1097" key="570952e2-a990-4b43-a86d-fa1ccdf6bb4f" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2016-06-14T00:01:46" updateDate="2016-06-15T00:02:35" nodeName="User Profile" urlName="user-profile" path="-1,1094,1097" isDoc="" nodeType="1060" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1074" nodeTypeAlias="genericPage" />
  </rootSection>
</root>