@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet makes a breadcrumb of parents using an unordered html list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = CurrentPage.Ancestors(); }

@if (selection.Any())
{
	foreach (var item in selection.OrderBy("Level"))
	{
        <li><a href="@item.Url">@item.Name</a></li>
	}

    <li class="active"><a href="@CurrentPage.Url#/">@CurrentPage.Name</a></li>
}