
<div class="row">
    <div class="col-lg-6">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Products</h2>
                Filters: <span class="label label-primary">{{filterName|toTitleCase }}</span>
            </header>

            <div class="main-box-body clearfix">
                <ul class="widget-products">
                    <li>
                        <a href="#/configure">
                            <span class="img" style="background: url('/images/samples/letterhead.jpg') no-repeat center; background-size: contain; ">

                            </span>

                            <span class="product clearfix">
                                <span class="name">
                                    Standard Letterhead
                                </span>
                                <span class="warranty">
                                    <i class="fa fa-certificate color-green"></i> Print On Demand
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Preview</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right">Download</button>
                    </div>
                </div>
                <br />

                <div class="img square" style="background: url('/images/samples/letterhead.jpg') no-repeat center;
                        background-size: contain; width: auto;">

                </div>
            </div>
        </div>
    </div>

</div>

