<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="category in categories">
        <div class="main-box clearfix project-box emerald-box">
            <div class="main-box-body clearfix">
                <div class="project-box-header dkblue-bg">
                    <div class="name">
                        <a href="#">
                            {{category.Name}}
                        </a>
                    </div>
                </div>

                <div class="project-box-content">
                    <div class="square" style="background: url(/css/img/samples/tahiti-1.jpg) no-repeat center; background-size: contain; margin: auto;">
                    </div>
                </div>

                <div class="project-box-ultrafooter clearfix">
                    <a href="#" class="link pull-right">
                        <i class="fa fa-arrow-circle-right fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>