@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "PrivateRoot.cshtml";

    var currentMember = Members.GetCurrentMember();
    MarketingTools.Models.MemberProfileView member = new MarketingTools.Models.MemberProfileView(currentMember);

    var nodeId = CurrentPage.Id;
}
@section pageCss {
    <link rel="stylesheet" type="text/css" href="/css/cube2/compiled/wizard.css">
    <link href="/css/cube2/libs/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/scripts/ng-gallery/ng-image-gallery.css" />
}
@section topScripts{
    <script src="~/Scripts/angular/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-ui-router.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://rawgit.com/hammerjs/hammer.js/v2.0.8/hammer.min.js"></script>
    <script src="~/scripts/ui-bootstrap-tpls-2.0.0.min.js"></script>

    <script src="~/scripts/ng-gallery/ng-image-gallery.js"></script>
    
    <script>
     var app = angular.module('catalogApp', [
	'ui.router', 'ui.bootstrap', 'thatisuday.ng-image-gallery'
     ]);

     app.config(function ($stateProvider, $urlRouterProvider, $locationProvider) {
         $locationProvider.html5Mode(false);

         $stateProvider
         	.state("dasboard", {
         	    url: "/",
         	    templateUrl: "/scripts/apps/catalog/views/categories.html",
         	    controller: "catalogCtrl",
         	    title: 'Print Items Catalog'
         	})
            .state("detail", {
                url:"/detail",
                templateUrl: "/scripts/apps/catalog/views/itemdetail.html",
                controller: "catalogItemCtrl",
                title: 'Catalog Item Detail'
            })
         //.state("detail", {
         //    url:"/detail",
         //    templateUrl: "/apps/projects/views/projectdetail.html",
         //    controller: "catalogCtrl",
         //    title: 'Project Dashboard Detail'
         //})
         ;
     });

     app.run(function ($state) {
         $state.go('dasboard')
     })
    </script>

    <script src="~/apps/ordersService.js"></script>
    <script src="~/scripts/apps/catalog/catalogController.js" type="text/javascript"></script>
    
}
<div ng-app="catalogApp" ng-cloak ng-init="clientCode = '@member.ClientCode'; currentNodeId = '@nodeId'">
    <div ui-view autoscroll="false" class="slide-main-animation"></div>
</div>

@section pageScripts {
    <script src="/scripts/jquery.magnific-popup.min.js"></script>
}

@section inlineScripts {
<script>
    $(function () {

    });
</script>
}