@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "PrivateRoot.cshtml";

    var currentMember = Members.GetCurrentMember();
    MarketingTools.Models.MemberProfileView member = new MarketingTools.Models.MemberProfileView(currentMember);
}
@section pageCss {
<link rel="stylesheet" type="text/css" href="/css/cube2/compiled/wizard.css">
<link rel="stylesheet" type="text/css" href="/css/cube2/libs/dropzone.css">
}
@section topScripts{
    <script src="~/Scripts/angular/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular/angular-route.min.js" type="text/javascript"></script>
    <script src="~/scripts/ui-bootstrap-2.0.0.js"></script>

    <script>
     var app = angular.module('ordersApp', [
	'ngRoute',
     ]);

     app.config(['$routeProvider', function ($routeProvider) {
         $routeProvider
             .when("/", {
                 redirectTo: '/dasboard'
             })
         	.when("/dasboard", {
         	    templateUrl: "/apps/orders/views/dashboard.html",
         	    controller: "mainController",
         	    title: 'Orders Dashboard'
             })
         	.when("/orderType", {
         	    templateUrl: "/apps/orders/views/order_type.html",
         	    controller: "createOrderController",
         	    title: 'Order Type'
         	})
         	.when("/library", {
         	    templateUrl: "/apps/orders/views/library.html",
         	    controller: "createOrderController",
         	    title: 'New Order'
         	})
            .when("/categories", {
                templateUrl: "/apps/orders/views/categories.html",
                controller: "createOrderController",
                title: 'New Order'
            })
            .when("/catalog/:category", {
                templateUrl: "/apps/orders/views/catalog.html",
                controller: "createOrderController",
                title: 'Catalog'
            })
         	.when("/cart", {
         	    templateUrl: "/apps/orders/views/cart.html",
         	    controller: "mainController",
         	    title: 'Shopping Cart'
         	})
         	.when("/configure", {
         	    templateUrl: "/apps/orders/views/configure.html",
         	    controller: "createOrderController",
         	    title: 'Configure Order'
         	})
         	.when("/create", {
         	    templateUrl: "/apps/orders/views/create.html",
         	    controller: "createOrderController",
         	    title: 'New Order'
         	})
            .when("/detail", {
                templateUrl: "/apps/orders/views/detail.html",
                controller: "mainController",
                title: 'Order Detail'
            })
            .when("/project", {
                templateUrl: "/apps/orders/views/projectdetail.html",
                controller: "mainController",
                title: 'Project Detail'
            });
     }]);

     app.run(['$location', '$rootScope', function ($location, $rootScope) {
         $rootScope.$on('$routeChangeSuccess', function (event, current, previous) {
             $rootScope.title = current.$$route.title;
         });
     }]);

     app.filter('toTitleCase', function () {
         return function (str) {
             var out = str.replace(/-/g, ' ');
             
             return out.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
         };
     });

    </script>
    <script src="~/apps/bucktoolsApiService.js"></script>
    <script src="~/apps/orders/ordersController.js" type="text/javascript"></script>
}

<div ng-app="ordersApp" ng-cloak>
	<div class="row">
		<div class="col-lg-12">
			<div id="content-header" class="clearfix">
				<div class="pull-left">
					@Umbraco.RenderMacro("Breadcrumbs")
					<h1>{{title}}</h1>
				</div>
				<div class="pull-right hidden-xs">
					<div class="xs-graph pull-left">
						<div class="graph-label" style="font-size: 1.2em;">
							<b><i class="fa fa-shopping-cart"></i> 0</b> Items
						</div>
						<div class="graph-content spark-orders"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="slide-main-container">
				<div ng-view autoscroll="true" class="slide-main-animation" ng-init="clientCode = '@member.ClientCode'"></div>
			</div>

		</div>
    </div>
</div>
@section pageScripts {
    <script src="/scripts/dropzone.js"></script>
    <script src="/scripts/wizard.js"></script>
    <script src="/scripts/jquery.maskedinput.min.js"></script>
    <script src="/scripts/jquery.pwstrength.js"></script>
    <script type="text/javascript">
        $(function () {
            console.log('ready');

            $(document).on('finished.fu.wizard', '#myWizard', function (evt, data) {
                console.log('FINISHED!');
                window.location.href = "/orders/";
            });

        });

    </script>


}