<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT angularAppPage ANY>
<!ATTLIST angularAppPage id ID #REQUIRED>
<!ELEMENT menuSections ANY>
<!ATTLIST menuSections id ID #REQUIRED>
<!ELEMENT ordersApp ANY>
<!ATTLIST ordersApp id ID #REQUIRED>
<!ELEMENT portalRoot ANY>
<!ATTLIST portalRoot id ID #REQUIRED>
<!ELEMENT privateRoot ANY>
<!ATTLIST privateRoot id ID #REQUIRED>
<!ELEMENT projectsApp ANY>
<!ATTLIST projectsApp id ID #REQUIRED>
<!ELEMENT publicPage ANY>
<!ATTLIST publicPage id ID #REQUIRED>
<!ELEMENT publicRoot ANY>
<!ATTLIST publicRoot id ID #REQUIRED>
<!ELEMENT redirectPage ANY>
<!ATTLIST redirectPage id ID #REQUIRED>
<!ELEMENT sitePage ANY>
<!ATTLIST sitePage id ID #REQUIRED>
<!ELEMENT siteSettings ANY>
<!ATTLIST siteSettings id ID #REQUIRED>

]>
<root id="-1">
  <portalRoot id="1059" key="c33d3b5f-8280-44ef-bb87-fc388e9e5b0c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-18T12:34:16" updateDate="2016-09-04T11:19:18" nodeName="BUCKTools" urlName="bucktools" path="-1,1059" isDoc="" nodeType="1143" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1078" nodeTypeAlias="portalRoot">
    <pageIcon><![CDATA[icon-custom-dashboard2]]></pageIcon>
    <portalBackgroundImage><![CDATA[/media/1017/natural-bridges-1218106.jpg]]></portalBackgroundImage>
    <cSSTheme><![CDATA[white]]></cSSTheme>
    <applicationsStartNode>1152</applicationsStartNode>
    <applicationRoot>1152</applicationRoot>
    <portalLogin>1059</portalLogin>
    <portalRegister>1074</portalRegister>
    <portalResetPassword>1073</portalResetPassword>
    <portalForgotPassword>1072</portalForgotPassword>
    <portalLogout>1071</portalLogout>
    <redirectPage id="1151" key="a450837b-168a-4d69-9699-45ee54cef1d2" parentID="1059" level="2" creatorID="0" sortOrder="6" createDate="2016-09-01T23:17:24" updateDate="2016-09-01T23:17:24" nodeName="Account" urlName="account" path="-1,1059,1151" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <umbracoRedirect>1059</umbracoRedirect>
      <publicPage id="1071" key="9e26ff0a-4400-466c-9d7b-7ace1000b4a8" parentID="1151" level="3" creatorID="0" sortOrder="1" createDate="2016-06-18T13:20:24" updateDate="2016-09-01T23:39:54" nodeName="Logout" urlName="logout" path="-1,1059,1151,1071" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1106" nodeTypeAlias="publicPage">
        <bodyContent><![CDATA[<div class="row">
<div class="col-lg-12">
<div class="main-box clearfix"></div>
</div>
</div>]]></bodyContent>
      </publicPage>
      <publicPage id="1074" key="6055cb47-f5d5-4f30-896a-9b81a7b585bb" parentID="1151" level="3" creatorID="0" sortOrder="3" createDate="2016-06-18T13:22:53" updateDate="2016-09-01T23:40:25" nodeName="Register" urlName="register" path="-1,1059,1151,1074" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="publicPage" />
      <publicPage id="1073" key="d798c50b-d5b6-468e-99c4-743ea7768617" parentID="1151" level="3" creatorID="0" sortOrder="4" createDate="2016-06-18T13:21:18" updateDate="2016-09-01T23:41:10" nodeName="Password Recovery" urlName="password-recovery" path="-1,1059,1151,1073" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage" />
      <publicPage id="1072" key="b91eaaf5-a14c-45cc-8e17-09ed89fb29c5" parentID="1151" level="3" creatorID="0" sortOrder="5" createDate="2016-06-18T13:20:57" updateDate="2016-09-01T23:41:27" nodeName="Forgot Password" urlName="forgot-password" path="-1,1059,1151,1072" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1081" nodeTypeAlias="publicPage" />
    </redirectPage>
    <redirectPage id="1152" key="40ce487a-65a4-4ffd-9d6e-21d7c90914bc" parentID="1059" level="2" creatorID="0" sortOrder="7" createDate="2016-09-01T23:28:14" updateDate="2016-10-11T22:39:35" nodeName="Portal" urlName="portal" path="-1,1059,1152" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <umbracoRedirect>1153</umbracoRedirect>
      <angularAppPage id="1153" key="03108cc9-2f40-467b-928d-1276ef54bff0" parentID="1152" level="3" creatorID="0" sortOrder="4" createDate="2016-09-01T23:36:31" updateDate="2016-09-01T23:40:48" nodeName="Dashboard" urlName="dashboard" path="-1,1059,1152,1153" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1112" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-custom-dashboard2]]></pageIcon>
      </angularAppPage>
      <menuSections id="1066" key="4262be78-81b0-4f20-8023-0cd3189ca3a4" parentID="1152" level="3" creatorID="0" sortOrder="5" createDate="2016-06-18T13:16:37" updateDate="2016-09-01T23:46:05" nodeName="Components" urlName="components" path="-1,1059,1152,1066" isDoc="" nodeType="1065" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSections" />
      <projectsApp id="1114" key="4363b799-bf58-4b01-a4d9-821c9faa6bf8" parentID="1152" level="3" creatorID="0" sortOrder="8" createDate="2016-08-28T22:17:10" updateDate="2016-09-01T23:48:17" nodeName="Projects" urlName="projects" path="-1,1059,1152,1114" isDoc="" nodeType="1117" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1116" nodeTypeAlias="projectsApp">
        <pageIcon><![CDATA[icon-custom-home2]]></pageIcon>
      </projectsApp>
      <menuSections id="1087" key="e26d712f-62cf-4895-8da6-c08e6fca93e0" parentID="1152" level="3" creatorID="0" sortOrder="9" createDate="2016-06-19T00:32:40" updateDate="2016-09-01T23:48:39" nodeName="System" urlName="system" path="-1,1059,1152,1087" isDoc="" nodeType="1065" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSections" />
      <angularAppPage id="1088" key="74e11712-976c-41d4-ab30-2dacfea0e95c" parentID="1152" level="3" creatorID="0" sortOrder="10" createDate="2016-06-19T00:33:25" updateDate="2016-09-01T23:49:11" nodeName="Profile" urlName="profile" path="-1,1059,1152,1088" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1062" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-user-female]]></pageIcon>
      </angularAppPage>
    </redirectPage>
  </portalRoot>
  <portalRoot id="1102" key="70b35bc4-3a8f-47c8-95f6-51689c198032" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-07-13T21:09:17" updateDate="2016-09-04T11:14:07" nodeName="Global Dynamics" urlName="global-dynamics" path="-1,1102" isDoc="" nodeType="1143" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1078" nodeTypeAlias="portalRoot">
    <portalBackgroundImage><![CDATA[/media/1020/global_dynamics_wallpaper_by_lynchmob10_09.jpg]]></portalBackgroundImage>
  </portalRoot>
  <portalRoot id="1107" key="0743ecf1-8e0a-4bfb-a85e-07f6b40d72b7" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2016-07-24T17:30:33" updateDate="2016-10-12T00:02:39" nodeName="Realty Executives" urlName="realty-executives" path="-1,1107" isDoc="" nodeType="1143" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1110" nodeTypeAlias="portalRoot">
    <pageIcon><![CDATA[icon-custom-home5]]></pageIcon>
    <customCSSFile><![CDATA[realex\custom.css]]></customCSSFile>
    <companyShortCode><![CDATA[REALEX]]></companyShortCode>
    <portalBackgroundImage><![CDATA[/media/1018/rei_web_gallery-1_1400x842-diecut-1.jpg]]></portalBackgroundImage>
    <cSSTheme><![CDATA[theme-realex]]></cSSTheme>
    <applicationsStartNode>1107</applicationsStartNode>
    <applicationRoot>1157</applicationRoot>
    <portalLogin>1107</portalLogin>
    <portalRegister>1159</portalRegister>
    <portalResetPassword>1160</portalResetPassword>
    <portalForgotPassword>1161</portalForgotPassword>
    <portalLogout>1156</portalLogout>
    <redirectPage id="1155" key="73d6b575-0da7-4dc4-a32c-7437b81ab0a8" parentID="1107" level="2" creatorID="0" sortOrder="0" createDate="2016-10-11T22:15:47" updateDate="2016-10-11T22:16:09" nodeName="Account" urlName="account" path="-1,1107,1155" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <umbracoRedirect>1107</umbracoRedirect>
      <publicPage id="1156" key="a5ec7da1-7a3e-4abc-a329-31fc3ce1b6b1" parentID="1155" level="3" creatorID="0" sortOrder="0" createDate="2016-10-11T22:17:02" updateDate="2016-10-11T22:17:02" nodeName="Logout" urlName="logout" path="-1,1107,1155,1156" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage" />
      <publicPage id="1159" key="eb1c2019-61ca-40c5-8c61-d4d8485a61f2" parentID="1155" level="3" creatorID="0" sortOrder="1" createDate="2016-10-11T22:33:22" updateDate="2016-10-11T22:33:22" nodeName="Register" urlName="register" path="-1,1107,1155,1159" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage" />
      <publicPage id="1160" key="947fc566-3536-48c2-944b-c19c672af291" parentID="1155" level="3" creatorID="0" sortOrder="2" createDate="2016-10-11T22:33:53" updateDate="2016-10-11T22:33:53" nodeName="Password Recovery" urlName="password-recovery" path="-1,1107,1155,1160" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage" />
      <publicPage id="1161" key="1d483be9-b8ca-4e4f-b785-5d417947da75" parentID="1155" level="3" creatorID="0" sortOrder="3" createDate="2016-10-11T22:34:09" updateDate="2016-10-11T22:34:09" nodeName="Forgot Password" urlName="forgot-password" path="-1,1107,1155,1161" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage" />
    </redirectPage>
    <redirectPage id="1157" key="d2b965e0-32c1-4ef3-9a36-5d98d9b20b87" parentID="1107" level="2" creatorID="0" sortOrder="1" createDate="2016-10-11T22:17:38" updateDate="2016-10-11T22:18:32" nodeName="Portal" urlName="portal" path="-1,1107,1157" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <umbracoRedirect>1158</umbracoRedirect>
      <angularAppPage id="1158" key="7a1e9751-2c8b-4c4c-8e43-e7970fc6f33e" parentID="1157" level="3" creatorID="0" sortOrder="0" createDate="2016-10-11T22:17:57" updateDate="2016-10-12T00:12:58" nodeName="Dashboard" urlName="dashboard" path="-1,1107,1157,1158" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1091" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-custom-dashboard2]]></pageIcon>
      </angularAppPage>
      <menuSections id="1162" key="b8316ced-2475-44d8-b1d5-fd1a94112546" parentID="1157" level="3" creatorID="0" sortOrder="1" createDate="2016-10-11T22:39:57" updateDate="2016-10-11T22:39:57" nodeName="Components" urlName="components" path="-1,1107,1157,1162" isDoc="" nodeType="1065" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSections" />
      <angularAppPage id="1163" key="46db4876-95d3-49ec-ba20-cfd366a3b69d" parentID="1157" level="3" creatorID="0" sortOrder="2" createDate="2016-10-11T22:41:17" updateDate="2016-10-11T22:47:31" nodeName="Catalog" urlName="catalog" path="-1,1107,1157,1163" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1061" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-shopping-basket]]></pageIcon>
      </angularAppPage>
      <angularAppPage id="1166" key="9806bd8f-2b23-47a3-a0f0-0e7786b45f21" parentID="1157" level="3" creatorID="0" sortOrder="3" createDate="2016-10-12T00:13:45" updateDate="2016-10-12T00:14:34" nodeName="My Orders" urlName="my-orders" path="-1,1107,1157,1166" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1091" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-custom-truck2]]></pageIcon>
      </angularAppPage>
      <menuSections id="1164" key="ae869fc7-bd95-414d-937a-e54dbd196000" parentID="1157" level="3" creatorID="0" sortOrder="4" createDate="2016-10-11T22:42:17" updateDate="2016-10-12T00:14:34" nodeName="System" urlName="system" path="-1,1107,1157,1164" isDoc="" nodeType="1065" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSections" />
      <angularAppPage id="1165" key="56de94c8-602a-4b78-a0b5-fae8a4ce12e3" parentID="1157" level="3" creatorID="0" sortOrder="5" createDate="2016-10-11T22:42:38" updateDate="2016-10-12T00:14:35" nodeName="Profile" urlName="profile" path="-1,1107,1157,1165" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1062" nodeTypeAlias="angularAppPage">
        <pageIcon><![CDATA[icon-custom-profile]]></pageIcon>
      </angularAppPage>
    </redirectPage>
  </portalRoot>
  <portalRoot id="1120" key="23825a56-74f9-4d09-87f5-25f76dd2e4fd" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2016-08-30T01:07:10" updateDate="2016-09-25T22:10:35" nodeName="At Home" urlName="at-home" path="-1,1120" isDoc="" nodeType="1143" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1078" nodeTypeAlias="portalRoot">
    <portalBackgroundImage><![CDATA[/media/1019/athome-login-background2.jpg]]></portalBackgroundImage>
    <redirectPage id="1134" key="c6350230-2a38-4964-aa96-cf997f9add38" parentID="1120" level="2" creatorID="0" sortOrder="0" createDate="2016-09-01T00:14:44" updateDate="2016-09-01T00:14:44" nodeName="Account" urlName="account" path="-1,1120,1134" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <publicPage id="1135" key="80bd8cc6-f418-4ee0-a82b-912ea45e2b37" parentID="1134" level="3" creatorID="0" sortOrder="0" createDate="2016-09-01T00:25:21" updateDate="2016-09-01T00:25:38" nodeName="Logout" urlName="logout" path="-1,1120,1134,1135" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1106" nodeTypeAlias="publicPage" />
      <publicPage id="1136" key="2be50536-ca56-4390-9bd8-3941afa41ee1" parentID="1134" level="3" creatorID="0" sortOrder="1" createDate="2016-09-01T00:27:50" updateDate="2016-09-01T00:27:50" nodeName="Forgot Password" urlName="forgot-password" path="-1,1120,1134,1136" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1081" nodeTypeAlias="publicPage" />
      <publicPage id="1141" key="2ee7176d-62b3-4e26-86b1-36ec23fd065c" parentID="1134" level="3" creatorID="0" sortOrder="2" createDate="2016-09-01T16:56:34" updateDate="2016-09-01T16:56:34" nodeName="Sample" urlName="sample" path="-1,1120,1134,1141" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1069" nodeTypeAlias="publicPage">
        <bodyContent><![CDATA[<p>Sample Page 1</p>]]></bodyContent>
      </publicPage>
    </redirectPage>
  </portalRoot>
  <portalRoot id="1137" key="288abf25-7663-4bd9-bbfc-8422426977f4" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2016-09-01T15:53:15" updateDate="2016-09-01T23:03:48" nodeName="BuckAZ" urlName="buckaz" path="-1,1137" isDoc="" nodeType="1143" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1078" nodeTypeAlias="portalRoot">
    <portalBackgroundImage><![CDATA[/media/1014/natural-bridges-1218106.jpg]]></portalBackgroundImage>
    <applicationsStartNode>1144</applicationsStartNode>
    <portalLogin>1137</portalLogin>
    <portalRegister>1150</portalRegister>
    <redirectPage id="1138" key="7e19742d-6f54-4a9e-ad87-4fe59ee155a9" parentID="1137" level="2" creatorID="0" sortOrder="0" createDate="2016-09-01T15:53:37" updateDate="2016-09-01T23:13:49" nodeName="Account" urlName="account" path="-1,1137,1138" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <umbracoRedirect>1137</umbracoRedirect>
      <publicPage id="1150" key="2554c630-7fa2-4399-bed4-d5ada52e5dd8" parentID="1138" level="3" creatorID="0" sortOrder="2" createDate="2016-09-01T22:58:35" updateDate="2016-09-01T23:03:58" nodeName="Register" urlName="register" path="-1,1137,1138,1150" isDoc="" nodeType="1070" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1084" nodeTypeAlias="publicPage" />
    </redirectPage>
    <redirectPage id="1144" key="1341eb1c-b12c-448c-9701-cffacfb8a849" parentID="1137" level="2" creatorID="0" sortOrder="1" createDate="2016-09-01T22:23:57" updateDate="2016-09-01T22:24:17" nodeName="App" urlName="app" path="-1,1137,1144" isDoc="" nodeType="1133" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="redirectPage">
      <angularAppPage id="1145" key="9bc0a284-359a-4061-812d-c1c3038d2d60" parentID="1144" level="3" creatorID="0" sortOrder="0" createDate="2016-09-01T22:26:27" updateDate="2016-09-01T22:26:27" nodeName="Dashboard" urlName="dashboard" path="-1,1137,1144,1145" isDoc="" nodeType="1092" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1091" nodeTypeAlias="angularAppPage" />
      <menuSections id="1146" key="b81812a7-42fe-49ce-a893-a9060a72859f" parentID="1144" level="3" creatorID="0" sortOrder="1" createDate="2016-09-01T22:28:40" updateDate="2016-09-01T22:28:40" nodeName="Applications" urlName="applications" path="-1,1137,1144,1146" isDoc="" nodeType="1065" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="0" nodeTypeAlias="menuSections" />
      <ordersApp id="1147" key="5a469346-9913-4d52-8e74-39f100546032" parentID="1144" level="3" creatorID="0" sortOrder="2" createDate="2016-09-01T22:29:24" updateDate="2016-09-01T22:29:24" nodeName="Orders" urlName="orders" path="-1,1137,1144,1147" isDoc="" nodeType="1115" creatorName="Steve Miller" writerName="Steve Miller" writerID="0" template="1061" nodeTypeAlias="ordersApp" />
    </redirectPage>
  </portalRoot>
</root>