@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PublicMaster.cshtml";
}
<div id="login-box">
						<div id="login-box-holder">
							<div class="row">
								<div class="col-xs-12">
									<header id="login-header">
										<div id="login-logo">
											<img src="/img/btjm-logo.png" alt=""/>
										</div>
									</header>
									<div id="login-box-inner">
										@Umbraco.RenderMacro("Login")
									</div>
								</div>
							</div>
						</div>
					</div>