<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="MongoDatabase" value="BuckTools"/>
  </appSettings>
  <connectionStrings>
    <remove name="umbracoDbDSN"/>
    <add name="umbracoDbDSN" connectionString="server=tcp:10.172.192.249\SQLEXPRESS;Database=umbJobManager;user id=BuckAZDBAdmin;password=Luke16!13" providerName="System.Data.SqlClient"/>
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge.
    Server=tcp:buckaztools.database.windows.net,1433;Database=umbBTJobManager;User ID=umbToolsAdmin@buckaztools;Password=Luke16:13-->
    <add name="MongoDBConnection" connectionString="mongodb://buckToolsAdmin:Buck1234!@10.172.192.249:27017/BuckTools?connectTimeoutMS=30000"/>
  </connectionStrings>
  
</configuration>
