<div class="row">
    <div class="row cf nestable-lists">

        
    <div class="col-md-6 dd" id="nestable2">
        <ol class="dd-list">
            <li class="dd-item dd-item-list" data-id="13">
                <div class="dd-handle-list"><i class="fa fa-folder"></i></div>
                <div class="dd-handle">Item 13</div>
            </li>
            <li class="dd-item dd-item-list" data-id="14">
                <div class="dd-handle-list"><i class="fa fa-folder"></i></div>
                <div class="dd-handle">
                    Item 14 <span class="badge badge-success">New</span>
                </div>
            </li>
            <li class="dd-item dd-item-list" data-id="15">
                <div class="dd-handle-list"><i class="fa fa-folder-open"></i></div>
                <div class="dd-handle emerald-bg txt-white-hover">Item 15</div>
                <ol class="dd-list">
                    <li class="dd-item dd-item-list" data-id="16">
                        <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                        <div class="dd-handle">Item 16</div>
                    </li>
                    <li class="dd-item dd-item-list" data-id="17">
                        <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                        <div class="dd-handle">Item 17</div>
                    </li>
                    <li class="dd-item dd-item-list" data-id="18">
                        <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                        <div class="dd-handle">Item 18</div>
                    </li>
                </ol>
            </li>
            <li class="dd-item dd-item-list" data-id="19">
                <div class="dd-handle-list"><i class="fa fa-folder"></i></div>
                <div class="dd-handle">Item 19</div>
            </li>
            <li class="dd-item dd-item-list" data-id="20">
                <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                <div class="dd-handle">
                    Item 20 <span class="badge badge-success">New</span>
                    <div class="nested-links">
                        <a href="" class="nested-link"><i class="fa fa-eye"></i></a>
                        <a href="" class="nested-link"><i class="fa fa-download"></i></a>
                        <a href="" class="nested-link"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </li>
            <li class="dd-item dd-item-list" data-id="21">
                <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                <div class="dd-handle">Item 21</div>
            </li>
            <li class="dd-item dd-item-list" data-id="22">
                <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                <div class="dd-handle">Item 22</div>
            </li>
            <li class="dd-item dd-item-list" data-id="23">
                <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                <div class="dd-handle">Item 23</div>
            </li>
            <li class="dd-item dd-item-list" data-id="24">
                <div class="dd-handle-list"><i class="fa fa-file-o"></i></div>
                <div class="dd-handle">Item 24</div>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <div class="main-box">
            <header class="main-box-header">
                <h2>Upload files with Drag &amp; Drop</h2>
            </header>

            <div class="main-box-body">
                <div id="dropzone">
                    <form id="demo-upload" class="dropzone dz-clickable" action="#">
                        <div class="dz-default dz-message">
                            <span>Drop files here to upload</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

